# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules
/.pnp
.pnp.js

# testing
/**/coverage
/**/test-results

# production
/**/build

# ignore ALL distribution directories
/**/dist
/**/lib

# local environment stuff
/**/*.env*.local

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Yarn 2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Handled at build time.
/.vs
